@model QCEL.Models.RegisterViewModel
@{
    ViewBag.Title = "Unauthorized Access";
}

<h2>@ViewBag.Title.</h2>

<h4>You are not allowed to create new users!</h4>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
