body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.app-home-card {
    color: white;
    text-align: center;
    padding: 10px 0px 30px 11px;
    margin: 10px;
    min-height: 165px;
}

.app-home-card-title {
    color: white;
}

.app-home-card-body {
    text-decoration: none;
    color: white;
    margin: auto;
}

.app-home-card-body-description {
    padding-top: 5px;
    font-size: 25px;
}

.app-home-card-img {
    width: 40px;
    height: 40px;
    margin: 15px 10px 10px 10px;
}

.employee-card {
    background: #4363CC;
}

.reference-card {
    background: green;
}

.management-card {
    background:lightslategray
}