
@{
    ViewBag.Title = "Submit Samples";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<table id="environmentalSamples">
    <thead>

    </thead>
    <tbody>

    </tbody>
</table>
