@model List<QCEL.Models.SampleLocation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sample Locations</h2>

<table id="sampleLocations" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Sample Number</th>
        <th>Location</th>
        <th>MicroTest</th>
        <th>Type</th>
        <th>ProductCode</th>
        <th>Zone</th>
        <th>RequestType</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#sampleLocations").DataTable({
                ajax: {
                    url: "/api/SampleLocations",
                    dataSrc: ""
                },
                columns: [
                    { data: "id" },
                    {data: "sampleNumber"},
                    { data: "location" },
                    { data: "microTest" },
                    { data: "type" },
                    { data: "productCode" },
                    { data: "zone" },
                    { data: "requestType" }
                ]
            });
        });
    </script>
}